.container {
    overscroll-behavior: none;
    height: 60vh!important;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 3em;
    overflow-x: hidden;
    gap: 2em;
 }
.panel {
   width: 22vw!important;
    height: 41vh;
    background: white;
    box-shadow: 0 3px 30px 0 rgba(0,0,0,.02);
    border-radius: 40px;
   margin: 1.5em;
   padding: 1em;
  }
 .Feature-content{
    display: grid;
    justify-content: center;
    text-align: center;
    font-size: 41px;
    font-weight: 500;
 margin-top: 3em;
 color: green;
  }
.features-container{
    width: 100%;
    box-sizing: border-box;
    position: relative;
background-color: #e5e5e2;
overflow: hidden;
 }
.feature-heading-name{
text-align: center;
margin-top: 2em;
font-weight: 600;
 font-size: 21px;
}
.description-of-feature{
  color:#868686 ;
 padding: 17px ;
}
/***************Development CSS ********/
.homepage-product{
  display: flex;
  gap: 5em;
  justify-content: center;
}
.right-up-section{
  margin-top: 15em;
}
.left-up{
  margin-top: 8em;
}
.QDA{
  color: rgb(84, 82, 82);
 }

@media only screen and (max-width:600px){
  .homepage-product{
    display: flex;
    gap: 1em;
    justify-content: center;
    margin: 1em;
    
  }
.mid-section{
  margin-left: -13em;
}
.right-up-section{
  margin-top: 26em;
}
.left-up{
  margin-top: 14em;
  margin-left:-14em ;
}
.QDA{
  font-size:12px;

}
.panel {
   width: 88vw!important;
    height: 27vh;
   margin: 0.3em;
  }
 .feature-heading-name{
 text-align: center;
 margin-top: 1em;
  font-weight: 600;
  font-size: 14px;
}
.Feature-content{
  font-size: 32px;
  font-weight: 500;
margin-top: 3em;
}  
.first-development{
  width: 60vw;
  height: 20vh;
}
.second-development{
  width: 60vw;
  height: 20vh;
}
.third-development{
  width: 60vw;
  height: 20vh;
 margin-left: -7em;
}

}



@media only screen   and (min-device-width: 768px) 
and (max-device-width: 1024px) {
   .homepage-product{
    display: flex;
    gap: 2em;
    justify-content: center;
  }
  .container {
    overscroll-behavior: none;
    height: 70vh!important;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 6em;
    overflow-x: hidden;
    gap: 2em;
 }
.panel {
   width: 34vw!important;
    height: 22vh;
  }
 .Feature-content{
    display: grid;
    justify-content: center;
    text-align: center;
    font-size: 41px;
    font-weight: 500;
 margin-top: 3em;
 color: green;
  }
.features-container{
    width: 100%;
    box-sizing: border-box;
    position: relative;
background-color: #e5e5e2;
overflow: hidden;
 }
.feature-heading-name{
text-align: center;
font-weight: 600;
 font-size: 18px;
}
.description-of-feature{
  color:#868686 ;
  font-size: 10px;
 padding: 1px ;
}
.homepage-product{
  display: flex;
  gap: 3em;
  justify-content: center;
  overflow: hidden;
}
.right-up-section{
  margin-top: 15em;
}
.left-up{
  margin-top: 8em;
}
.QDA{
  color: rgb(84, 82, 82);
 }

}